
<html>
<head>
    <title>Ultimate Tic-Tac-Toe</title>
    <script src="static/jquery-1.10.2.min.js"></script>

    <!-- Main js code -->
    <script src="static/main.js"></script>
    <link rel="stylesheet" href="static/font-awesome/css/font-awesome.min.css">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="static/style.css">

</head>

<body>

    <div id="wrapper">
        <h1 class="gametitle"><i class="fa fa-flash"></i> Ultimate tic-tac-toe</h1>
        <h2 class="instruction">Current player: <span class="player1 current-player">X</span>. Next: <span class="player2 next-player">O</span></h3>
        <ul id="controls">
            <li>
                <a id="reset-game" href="#" onclick="javascript:initGame()">
                    <i class="fa fa-refresh"></i> <b>R</b>eset the game
                </a>
            </li>

            <li>
               <a id="ai-play" href ="#" onclick="javascript:aiCall()">
                   <i class="fa fa-magic"></i> <b>A</b>I play
               </a>

            </li>

            <li>
                <select id="ai-choice">
                    <option value="ai1.pl">Global context</option>
                    <option value="random.pl">Random</option>
                </select>
            </li>
        </ul>    


        <div id="gameover">
            <h3 class="player1"> Player <b class="winner">X</b> won the game! </h3>
        </div>
        <div class="gamefield">

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

            <ul>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
                <li>&nbsp;</li>
            </ul>

        <div>

    </div>

</body>


</html>
