<html>
    <head>
        <title>Wikistats | Reporting on views, edits and contributors</title>
        
        <script src="static/jquery-1.10.2.min.js"></script>

        <!-- Bootstrap -->
        <script src="static/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">


        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="static/style.css">


    </head>

    <body>

        <div class="row">
            <div class="span4 offset4">
              <div class="well">
                <legend>Sign in to WebApp</legend>
                <form method="POST" action="" accept-charset="UTF-8">
                    <div class="alert alert-error">
                        <a class="close" data-dismiss="alert" href="#">x</a>Incorrect Username or Password!
                    </div>      
                    <input class="span3" placeholder="Username" type="text" name="username">
                    <input class="span3" placeholder="Password" type="password" name="password"> 
                    <label class="checkbox">
                        <input type="checkbox" name="remember" value="1"> Remember Me
                    </label>
                    <button class="btn-info btn" type="submit">Login</button>      
                </form>    
              </div>
            </div>
        </div>


    </body>


</html>