ul, li, div {
    magin: 0;
    padding: 0;
    position: relative;
}

body {
    font-family: Ubuntu, Arial, Sans-serif;
    background: rgb(245, 245, 255);
}

a {
    color: rgb(20, 50, 200);
    text-decoration: none;
}

a:active {
    color: rgb(200, 50, 50);
}

#wrapper {
    width: 700px;
    margin: 0 auto;
}

.gametitle {
    font-weight: normal;
    font-size: 43px;
    letter-spacing: -2px;
    text-align: center;
    margin: 0;
}

.instruction {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    margin: 3px;
}

.gamefield {
    display: block;
    margin: 10px 0;
    font-size: 0;
}

.gamefield > ul {
    width: 30%;
    margin: 4px;
    display: inline-block;
    border: 1px solid transparent;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

#gameover {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 80px 30px rgba(255, 255, 255, 0.8);
}

#gameover > h3 {
    font-size: 60px;
    letter-spacing: -3;
    font-weight: normal;
    text-align: center;
    line-height: 300px;
    text-shadow: 1px 1px 0px rgba(80, 80, 200, 1);
}

#controls {
    list-style: none;
    text-align: center;
    margin: 10px 0 0 0;
}

#controls > li {
    display: inline-block;
    margin: 0 10px;
}

#ai-choice {
    background: #FFF;
    padding: 6px;
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    font-family: Ubuntu, sans-serif;
}

.gamefield > ul.won {
    color: #FFF;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
}

.player1 {
    color: rgb(94, 203, 255);
}
.gamefield > ul.won.player1 > li{
    background: rgba(94, 203, 255, 0.8);
}


.player2 {
    color: rgb(255, 100, 94);
}

.gamefield > ul.won.player2 > li{
    background: rgba(255, 100, 94, 0.8);
}

/* Player 3 = tie */
.gamefield > ul.won.player3 > li{
    background: #737373;
}


.gamefield > ul > li {
    width: 32%;
    text-align: center;
    font-size: 35pt;
    line-height: 45pt;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgb(255,255,255);
    opacity: 0.3;

    /* Making the 'li' element unselectable, just in case*/
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;

}

.gamefield > ul.playable > li {
    opacity: 1;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.gamefield > ul > li.last-move  {
    opacity: 1;
}